<ul>
    <li *ngFor="let question of questionData | async;" class="question-container">
        <p>{{ question.questionText }}</p>
        <ul class="question-answers">
            <li *ngFor="let answer of question.options; let i = index" class="answer">
                <input type="radio" 
                        [attr.name]="question.$key" 
                        [value]="i" 
                        id="{{question.$key}}-{{i}}"
                        (click)="getAnswer(question, i)"
                />
                <label htmlFor="{{question.$key}}-{{i}}" [class.correct]="i == 3"> {{ answer }} </label>
            </li>                
        </ul>
        <p>You have selected {{question.answerEval}}</p>
        <button (click)="submitAnswer()">Submit</button>
    </li>
</ul>

<!--<ul>
    <li *ngFor="let question of questionData | async;">
        <div class="question-container">
            <p>{{ question.$key }} : {{ question.questionText }}</p>
            <ul>
                <li *ngFor="let answer of question.options; let i = index">
                    <input type="radio" 
                            [attr.name]="question.$key" 
                            [value]="i" 
                            id="{{question.$key}}-{{i}}"
                            [(ngModel)]='question.userAnswer'
                            (click)="getAnswer(question, i)"
                    />
                    <label htmlFor="{{question.$key}}-{{i}}"> {{ answer }} </label>
                </li>                
            </ul>
            <button (click)="submitAnswer()">Submit</button>
            <p>Your answer is {{question.answerEval}}</p> 
        </div>
    </li>
</ul>-->


